{% extends "layout.njk" %}
{% block head %}
  <title>PC's</title>
{% endblock %}

{% block content %}
  <div class="show-smartphone">
    <div class="gallery-smartphone">
      <div class="container">
        <div class="row row-cols-1 row-cols-md-3 g-4">
          <div class="col">
            <div class="card h-100">
              <img src="img/pc/01.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">PC</h5>
                <div class="info">
                  <div class="price">
                    <p class="price-active">880.000kz</p>
                    <p class="price-deprecated">900.000kz</p>
                  </div>
                  <div class="carrinho">
                    <button class="btn btn-primary">Adicionar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="img/pc/02.jpg" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">PC</h5>
                <div class="info">
                  <div class="price">
                    <p class="price-active">700.400kz</p>
                    <p class="price-deprecated">730.000kz</p>
                  </div>
                  <div class="carrinho">
                    <button class="btn btn-primary">Adicionar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <div class="col">
            <div class="card h-100">
              <img src="img/pc/03.png" class="card-img-top" alt="...">
              <div class="card-body">
                <h5 class="card-title">PC</h5>
                <div class="info">
                  <div class="price">
                    <p class="price-active">650.000kz</p>
                    <p class="price-deprecated">690.000kz</p>
                  </div>
                  <div class="carrinho">
                    <button class="btn btn-primary">Adicionar</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}